<!--Footer-->
<footer class="page-footer bg-primary center-on-small-only">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">More about Qme</h5>
                <p class="lead pt-3">This idea was created by students for students. Qme was born while waiting for our tickets to be called
                    in the traditional system. Now it has been put into action to improve student satisfaction!</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6 text-center">
                <h5 class="title">Capstone project - COMP 231 - 004</h5>
                <ul>
                    <li>
                        <p class="lead">Centennial College</p>
                    </li>
                    <li>
                        <p class="lead">Professor: Bob Pajkowski</p>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright: Quasi-Fifo
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->