<div class="container">
  <h1>Tickets Details</h1>
  <hr>

  <table class="table table-condensed">
    <tr>
      <th>Ticket Number</th>
      <th>Student Number</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
    <tr *ngIf="(activeTickets | async); let activeTickets;">

      <td>{{ activeTickets.ticketNumber }}</td>
      <td>{{ activeTickets.studentNumber }}</td>
      <td>{{ activeTickets.subject }}</td>
      <td>{{ activeTickets.description }}</td>
      <td>{{ activeTickets.status }}</td>
    </tr>
  </table>
</div>