<div class="container">
  <h1>Tickets Details</h1>
  <hr>

  <table class="table table-condensed">
    <tr>
      <th>Ticket Number</th>
      <th>Student Number</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Status</th>
      <th>Preceding Tickets</th>
      <th>Average Waiting Time</th>
    </tr>
    <tr *ngFor="let ticket of activeTicket">

      <td>{{ ticket.ticketNumber }}</td>
      <td>{{ ticket.studentNumber }}</td>
      <td>{{ ticket.subject }}</td>
      <td>{{ ticket.description }}</td>
      <td>{{ ticket.status }}</td>
      <td>{{ ticket.ticketCount }}</td>
      <td>
        <label ng-if="ticket.hours>0">{{ ticket.hours }} hr(s)</label> {{ticket.minutes}} min(s) </td>
    </tr>
  </table>
</div>