<div class="container">
  <h1>Tickets Details</h1>
  <hr>

  <table class="table table-condensed">
    <tr>
      <th>Ticket Number</th>
      <th>Student Number</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Status</th>     
      <th>Preceding Pending Tickets</th>
    </tr>
    <tr *ngFor="let ticket of activeTicket">

      <td>{{ ticket.ticketNumber }}</td>
      <td>{{ ticket.studentNumber }}</td>
      <td>{{ ticket.subject }}</td>
      <td>{{ ticket.description }}</td>
      <td>{{ ticket.status }}</td>
      <td>{{ ticket.ticketCount }}</td>
    </tr>
  </table>
</div>