<div class="container">
  <h1>Active Tickets in Queue</h1>
  <hr>

  <table class="table table-condensed">
    <tr>
      <th>Ticket Number</th>
      <th>Student Number</th>
      <th>Subject</th>
      <th>Description</th>
    </tr>
    <tr *ngFor = "let ticket of activeTickets">
      <td><a class="nav-link" href="/ticket/viewStudentTicket">{{ ticket.ticketNumber }}</a></td>
      <td><a class="nav-link" href="/ticket/viewStudentTicket">{{ ticket.studentId }}</a></td>
      <td><a class="nav-link" href="/ticket/viewStudentTicket">{{ ticket.subject }}</a></td>
      <td><a class="nav-link" href="/ticket/viewStudentTicket">{{ ticket.description }}</a></td>
    </tr>
  </table>
</div>