<!--Section: Features v.3-->
<style>
    a {
        text-decoration: none;
        border: none;
    }
</style>

<main>
    <div class="container">
        <section class="section feature-box">

            <!--Section heading-->
            <h1 class="section-heading pt-4">Tired of lining-up or waiting at the service area?</h1>
            <!--Section description-->
            <p class="section-description lead grey-text">Create your own ticket in just a few seconds. We will take care of letting you know when your turn is close.
                We do care about your precious time!
            </p>

            <!--Grid row-->
            <div class="row features-small pt-2">
                <!--Grid column-->
                <div class="col-lg-5 mb-r center-on-small-only pt-5">
                    <img src="../../../../../assets/queue.jpg" alt="" class="img-fluid z-depth-0">
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-7">

                    <!--Grid row-->
                    <div class="row pb-3">
                        <div class="col-2 col-md-1">
                            <i class="fa fa-history blue-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Save Time</h5>
                            <p class="grey-text">You are the owner of your time with this system. Feel free to leave the waiting area after you
                                create your ticket . You will receive a notification when your ticket is close to be called.
                            </p>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row pb-3">
                        <div class="col-2 col-md-1">
                            <i class="fa fa-bookmark blue-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Real Time Ticket Status</h5>
                            <p class="grey-text">Check the status of your ticket anytime. You will see how many tickets are in front of you, and
                                what is the average waiting time.
                            </p>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row pb-3">
                        <div class="col-2 col-md-1">
                            <i class="fa fa-exclamation-circle blue-text"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Prioritaztion</h5>
                            <p class="grey-text">If your ticket falls under the priorities of the day, it will be moved to a closer spot in the
                                queue.
                            </p>
                        </div>
                    </div>
                    <!--Grid row-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <section class="section team-section pb-3">

            <!--Section heading-->
            <h2 class="section-heading h1 pt-4">Our amazing team</h2>
            <!--Section description-->
            <p class="section-description lead grey-text">Our multicultural team gave its 110% to build this solution. Check them out!
            </p>
            <!--Grid row-->
            <div class="row text-center">

                <!--Grid column-->
                <div class="col-lg-4 col-md-4 mb-r">

                    <div class="avatar">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1" alt="First sample avatar image">
                    </div>
                    <h4>
                        <span class="flag-icon flag-icon-ve"></span> Kenny Perroni</h4>
                    <h6 class="font-bold blue-text">Developer</h6>
                    <p>Kenny is a Software Engineer studying at Centennial College. He likes to play video games, read books,
                        and explore the city.</p>

                    <!--GitHub-->
                    <a class="icons-sm git-ic">
                        <i class="fa fa-github"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="icons-sm li-ic">
                        <i class="fa fa-linkedin"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="icons-sm ins-ic">
                        <i class="fa fa-instagram"> </i>
                    </a>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-4 mb-r">

                    <div class="avatar">
                        <img src="../../../../../assets/sergio.jpg" class="rounded-circle z-depth-1" alt="Second sample avatar image">
                    </div>
                    <h4>
                        <span class="flag-icon flag-icon-mx"></span> Sergio Monroy</h4>
                    <h6 class="font-bold blue-text">Developer</h6>
                    <p>Sergio is a Software Engineering studying Interactive Gaming at Centennial College. He likes to play chess and board games,
                        see movies and solve puzzles.</p>

                    <!--Linkedin-->
                    <a class="icons-sm li-ic">
                        <i class="fa fa-linkedin"> </i>
                    </a>
                    <!--Facebook-->
                    <a class="icons-sm fb-ic">
                        <i class="fa fa-facebook"> </i>
                    </a>
                    <!--Dribbble-->
                    <a class="icons-sm dribbble-ic">
                        <i class="fa fa-dribbble"> </i>
                    </a>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-4 mb-r">

                    <div class="avatar">
                        <img src="../../../../../assets/WesleyAngus_ProfilePic.jpg" class="rounded-circle z-depth-1" alt="WesleyAngus_ProfilePic">
                    </div>
                    <h4>
                        <span class="flag-icon flag-icon-ca"></span> Wesley Angus</h4>
                    <h6 class="font-bold blue-text">Developer</h6>
                    <p>Wesley Angus is an aspiring developer at Centennial College. He watches anime, reads books and sometimes
                        plays games when he's not busy making them.</p>

                    <!--Linkedin-->
                    <a class="icons-sm li-ic" href="https://www.linkedin.com/in/wesley-angus-887a99b1/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <!--GitHub-->
                    <a class="icons-sm git-ic" href="https://github.com/wes-angus/">
                        <i class="fa fa-github"></i>
                    </a>
                    <!--Bitbucket-->
                    <a class="icons-sm ins-ic" href="https://bitbucket.org/wangus/">
                        <i class="fa fa-bitbucket"></i>
                    </a>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-4 mb-r">

                    <div class="avatar">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1" alt="Fourth sample avatar image">
                    </div>
                    <h4>
                        <span class="flag-icon flag-icon-in"></span> Jajanpreeht Signh</h4>
                    <h6 class="font-bold blue-text">Developer</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

                    <!--Google +-->
                    <a class="icons-sm gplus-ic">
                        <i class="fa fa-google-plus"> </i>
                    </a>
                    <!--Facebook-->
                    <a class="icons-sm fb-ic">
                        <i class="fa fa-facebook"> </i>
                    </a>
                    <!--GitHub-->
                    <a class="icons-sm git-ic">
                        <i class="fa fa-github"> </i>
                    </a>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-4 mb-r">

                    <div class="avatar">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1" alt="Fourth sample avatar image">
                    </div>
                    <h4>
                        <span class="flag-icon flag-icon-in"></span> Richa Thomas</h4>
                    <h6 class="font-bold blue-text">Developer</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

                    <!--Google +-->
                    <a class="icons-sm gplus-ic">
                        <i class="fa fa-google-plus"> </i>
                    </a>
                    <!--Facebook-->
                    <a class="icons-sm fb-ic">
                        <i class="fa fa-facebook"> </i>
                    </a>
                    <!--GitHub-->
                    <a class="icons-sm git-ic">
                        <i class="fa fa-github"> </i>
                    </a>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-4 mb-r">

                    <div class="avatar">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1" alt="Fourth sample avatar image">
                    </div>
                    <h4>
                        <span class="flag-icon flag-icon-in"></span>Sreejith Nam</h4>
                    <h6 class="font-bold blue-text">Developer</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

                    <!--Google +-->
                    <a class="icons-sm gplus-ic">
                        <i class="fa fa-google-plus"> </i>
                    </a>
                    <!--Facebook-->
                    <a class="icons-sm fb-ic">
                        <i class="fa fa-facebook"> </i>
                    </a>
                    <!--GitHub-->
                    <a class="icons-sm git-ic">
                        <i class="fa fa-github"> </i>
                    </a>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Team v.1-->
    </div>
</main>
<!--Section: Features v.3-->