<!--Section: Features v.3-->
<main>
<div class="container">
<section class="section feature-box">

    <!--Section heading-->
    <h1 class="section-heading pt-4">Why is it so great?</h1>
    <!--Section description-->
    <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

    <!--Grid row-->
    <div class="row features-small pt-2">

        <!--Grid column-->
        <div class="col-lg-5 mb-r center-on-small-only">
            <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7">

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-bank blue-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Safety</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
                <ul>
                    <li  *ngFor='let user of users'>{{ user.username }} {{ user.firstName }}</li>
                </ul>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-code blue-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Technology</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-money blue-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Finance</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
</div>
</main>
<!--Section: Features v.3-->
            
        <!-- Main
<main>
  <div class="container" style="height:1300px;">
      <div class="row mt-5 pt-5">
          <div class="col text-center">
              <h2>This Navbar is fixed now</h2>
              <h5>It will always stay visible on the top, even when you scroll down</h5>
              <br>
              <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p>
              <h1>My Users</h1>
              <ul>
                <li  *ngFor='let user of users'>{{ user.name }}</li>
              </ul>
          </div>
      </div>
  </div>
</main>
 -->